body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  color: #333;
}

header, footer {
  background: #4a148c;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

h1 {
  margin: 0;
}

section {
  padding: 30px;
  text-align: center;
}

.responsive-box {
  background: #e1bee7;
  padding: 40px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
}

/* Media Query */
@media (max-width: 768px) {
  .responsive-box {
    background: #ffccbc;
    font-size: 16px;
  }
}

.quiz-section button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #6a1b9a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.quiz-section button:hover {
  background-color: #4a148c;
}

.api-section button {
  background-color: #00695c;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

.api-section button:hover {
  background-color: #004d40;
}

#jokeBox {
  background: #dcedc8;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}
